.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: 0;
}
img {
    grid-column: 1/2;
    grid-row: 1/2;
}
h1 {
    grid-column: 1/3;
    grid-row: 1/2;
}
h2 {
    color: red;
}